{% extends 'base.html.twig' %}

{% block title %}Register - MyApp{% endblock %}

{% block body %}
<div class="form-box">
    <h1>Create Account</h1>

    {{ form_start(registrationForm) }}

        {{ form_errors(registrationForm) }}

        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.confirmPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit">Register</button>

    {{ form_end(registrationForm) }}

    <a href="{{ path('app_login') }}">Already have an account? Login</a>
</div>
{% endblock %}
