{# login.html.twig #}
{% extends 'base.html.twig' %}


{% block title %}Login - IntruNex{% endblock %}

{% block body %}
<div class="form-box">
    <h1>Login</h1>

    {% if error %}
        <div class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('auth_login') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{ last_username }}" required autofocus />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Login</button>
    </form>

    <a href="{{ path('app_register') }}">Don't have an account? Register</a>
</div>
{% endblock %}

